.theme-default {
  --clr-bg-main-background: hsl(222, 26%, 31%);
  --clr-bg-toggle-background-keypad-background: hsl(223, 31%, 20%);
  --clr-bg-screen-background: hsl(224, 36%, 15%);
  --clr-key-primary-background: hsl(30, 25%, 89%);
  --clr-key-primary-shadow: hsl(28, 16%, 65%);
  --clr-key-primary-hover: white;
  --clr-key-secondary-background: hsl(225, 21%, 49%);
  --clr-key-secondary-shadow: hsl(224, 28%, 35%);
  --clr-key-secondary-hover: #A1B3E1;
  --clr-key-special-background-toggle: hsl(6, 63%, 50%);
  --clr-key-special-shadow: hsl(6, 70%, 34%);
  --clr-key-special-hover: #F96C5B;
  --clr-txt-top: white;
  --clr-display: hsl(0, 0%, 70%);
  --clr-txt: hsl(221, 14%, 31%);
  --clr-txt-secondary: hsl(221, 14%, 31%);
  --clr-txt-special: white;
}

.theme-light {
  --clr-bg-main-background: hsl(0, 0%, 90%);
  --clr-bg-toggle-background-keypad-background: hsl(0, 5%, 81%);
  --clr-bg-screen-background: hsl(0, 0%, 93%);
  --clr-key-primary-background: hsl(45, 7%, 89%);
  --clr-key-primary-shadow: hsl(35, 11%, 61%);
  --clr-key-primary-hover: white;
  --clr-key-secondary-background: hsl(185, 42%, 37%);
  --clr-key-secondary-shadow: hsl(185, 58%, 25%);
  --clr-key-secondary-hover: #62B5BD;
  --clr-key-special-background-toggle: hsl(25, 98%, 40%);
  --clr-key-special-shadow: hsl(25, 99%, 27%);
  --clr-key-special-hover: #FF8B38;
  --clr-txt-special: white;
  --clr-txt-top: hsl(60, 10%, 19%);
  --clr-display: hsl(60, 10%, 49%);
  --clr-txt: hsl(60, 10%, 19%);
  --clr-txt-secondary: hsl(60, 10%, 19%);
}

.theme-dark {
  --clr-bg-main-background: hsl(268, 75%, 9%);
  --clr-bg-toggle-background-keypad-background: hsl(268, 71%, 12%);
  --clr-bg-screen-background: hsl(268, 71%, 12%);
  --clr-key-primary-background: hsl(268, 47%, 21%);
  --clr-key-primary-shadow: hsl(290, 70%, 36%);
  --clr-key-primary-hover: #6B34AC;
  --clr-key-secondary-background: hsl(281, 89%, 26%);
  --clr-key-secondary-shadow: hsl(285, 91%, 52%);
  --clr-key-secondary-hover: #8731AF;
  --clr-key-special-background-toggle: hsl(176, 100%, 44%);
  --clr-key-special-shadow: hsl(177, 92%, 70%);
  --clr-key-special-hover: #94FFF9;
  --clr-txt-top: hsl(52, 100%, 62%);
  --clr-display: hsl(52, 100%, 32%);
  --clr-txt: hsl(52, 100%, 62%);
  --clr-txt-secondary: hsl(198, 20%, 13%);
  --clr-txt-special: hsl(198, 20%, 13%);
}

body {
  min-height: 100vh;
  font-family: "League Spartan";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-bg-main-background);
  transition: background-color 0.5s ease, color 0.5s ease;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

footer {
  font-size: 11px;
  text-align: center;
  color: var(--clr-txt-top);
}
footer a {
  color: var(--clr-key-special-background-toggle);
  text-decoration: none;
}

button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 7px;
}
button.primary {
  background-color: var(--clr-key-primary-background);
  border-bottom: 4px solid var(--clr-key-primary-shadow);
  color: var(--clr-txt);
  padding-top: 8px;
  font-size: 2rem;
  transition: background-color 0.2s ease;
}
button.primary:hover {
  background-color: var(--clr-key-primary-hover);
}
button.secondary {
  background-color: var(--clr-key-secondary-background);
  border-bottom: 4px solid var(--clr-key-secondary-shadow);
  color: white;
  padding-top: 4px;
  font-size: 1.2rem;
  transition: background-color 0.2s ease;
}
button.secondary:hover {
  background-color: var(--clr-key-secondary-hover);
}
button.special {
  background-color: var(--clr-key-special-background-toggle);
  border-bottom: 4px solid var(--clr-key-special-shadow);
  color: var(--clr-txt-special);
  padding-top: 8px;
  font-size: 1.2rem;
  transition: background-color 0.2s ease;
}
button.special:hover {
  background-color: var(--clr-key-special-hover);
}

main {
  position: relative;
  margin: auto;
  width: 375px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-weight: 700;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;
  color: var(--clr-txt-top);
}
.top .logo {
  font-size: 2rem;
}
.top .top-right {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.top .top-right .labels {
  width: 4.1rem;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  font-size: 0.8rem;
}
.top .theme-changer {
  font-size: 0.75rem;
  letter-spacing: 0.08rem;
  display: flex;
  align-items: center;
  gap: 1.75rem;
}
.top .theme-changer .switch {
  width: 4.2rem;
  height: 1.5rem;
  padding: 4px;
  background-color: var(--clr-bg-toggle-background-keypad-background);
  border-radius: 999px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.top .theme-changer .switch div {
  cursor: pointer;
  place-self: center;
  height: 1rem;
  width: 1rem;
}
.top .theme-changer .switch .dot {
  cursor: pointer;
  position: relative;
  top: -1rem;
  left: 0;
  height: 1rem;
  width: 1rem;
  border-radius: 999px;
  background-color: var(--clr-key-special-background-toggle);
  transition: left 0.1s;
}

.display {
  color: var(--clr-display);
  position: absolute;
  top: 6.75rem;
  left: 2.25rem;
  font-size: 0.8rem;
}

.output {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.55rem;
  height: 5.8rem;
  width: 100%;
  border-radius: 10px;
  background-color: var(--clr-bg-screen-background);
  font-size: 2.3rem;
  color: var(--clr-txt-top);
  overflow-x: hidden;
}

.input {
  height: 26.25rem;
  width: 100%;
  padding: 1.55rem;
  border-radius: 10px;
  background-color: var(--clr-bg-toggle-background-keypad-background);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.input div {
  padding: 0.35rem;
}
.input .double {
  grid-column: span 2;
}

@media (min-width: 1024px) {
  main {
    width: 600px;
  }
  main .output {
    height: 125px;
    font-size: 3.3rem;
  }
  main .input {
    height: 480px;
    gap: 0.75rem;
  }
  main .display {
    color: var(--clr-display);
    position: absolute;
    top: 6.75rem;
    left: 2.25rem;
    font-size: 1rem;
  }
}